page-transactions {
    .monto {
        padding: 1em;
        text-align: center;
        background-color: #387ef5;
        p {
            color: white !important;
            font-size: 36px;
            margin: 0px;
        }
        .title-small {
            padding: 0px;
            color: white !important;
            font-size: 12px
        }
    }
    .bold {
        font-weight: bold;
        font-size: 1.5em;
        background-color: #eee;
    }
    .green {
        background-color: #00A822;
    }
    .red {
        background-color: #ED4248;
    }
}