<!--
  Generated template for the Wallets page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Carteras</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list radio-group>
        <ion-list-header>Mis Carteras</ion-list-header>

        <ion-item-sliding *ngFor="let wallet of wallets">
            <ion-item (tap)="setWallet(wallet)" (press)="optionWallet(wallet)">
                <ion-avatar item-left>
                    <img src="assets/img/wallet.png" />
                </ion-avatar>
                <ion-label>
                    <strong>
                      {{ wallet.name }}
                      <ion-icon *ngIf="wallet.id === walletService.getID()" small name="checkmark-circle" color="secondary"></ion-icon>
                    </strong>
                </ion-label>
                <ion-badge item-right color="light">
                    <h3>Q.{{ wallet.amount }}</h3>
                </ion-badge>
                <ion-radio checked="{{ wallet.id === walletService.getID() }}" value="{{ wallet.name }}"></ion-radio>
            </ion-item>
            <ion-item-options>
                <button ion-button color="danger" icon-left (tap)=deleteConfirm(wallet)>
                  <ion-icon name="trash"></ion-icon>
                  Eliminar
              </button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="NewWallet()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>